<div class="front-view-post d-flex flex-column flex-md-row align-items-start">
  <div class="thumb me-3" aria-hidden>
    <i [class]="iconClass" aria-hidden="true"></i>
  </div>
  <div class="content flex-fill">
    <h1 class="title">{{ oCastanyera?.titulo }}</h1>
    <p class="excerpt">{{ oCastanyera?.contenido ?? '' | trim : 150 }}</p>
    <div class="excerpt">
      <button (click)="goToPost(oCastanyera?.id)" class="btn btn-sm btn-outline-danger">
        Leer
      </button>
    </div>
    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">
        Publicado el {{ oCastanyera?.fecha_creacion | datetime : 'solofechacompleta' }} a las
        {{ oCastanyera?.fecha_creacion | datetime : 'solohora' }}
      </small>
    </div>

    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">Etiquetas: {{ oCastanyera?.etiquetas }}</small>
    </div>
  </div>
</div>
