<nav>
    <ul class="pagination">
        <li class="page-item" [class.disabled]="numPage==0">
            <a class="page-link" (click)="goToPage(numPage-1)" href="#">Previous</a>
        </li>
        @for (strBotonera of oBotonera; track $index ) {

        @if (strBotonera=='...'){
        <li class="page-item"><span class="page-link">{{strBotonera}}</span></li>
        } @else {
        <li class="page-item" [class.active]="-(-strBotonera) ==(numPage + 1)">
            <a class="page-link" (click)="goToPage((-(-strBotonera))-1)" href="#">{{strBotonera}}</a>
        </li>
        }
        }
        <li class="page-item" [class.disabled]="numPage+1==numPages">
            <a class="page-link" (click)="goToPage(numPage+1)" href="#">Next</a>
        </li>
    </ul>
</nav>