<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DAWsiàs frontUTIL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/' || activeRoute === '/home'"
                        aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/blog' || activeRoute === '/blog/plist' || activeRoute === '/blog' || activeRoute.startsWith('/blog/view') || activeRoute.startsWith('/blog/post')"
                        aria-current="page" href="/blog">Blog</a>
                </li>
            </ul>
            
            <div class="d-flex align-items-center">
                @if (sessionService.isLoggedIn()) {
                    <span class="navbar-text me-3">
                        Sesión activa
                    </span>
                    <button class="btn btn-outline-danger btn-sm" (click)="logout()">
                        Cerrar Sesión
                    </button>
                } @else {
                    <a class="btn btn-outline-primary btn-sm" href="/login">
                        Iniciar Sesión
                    </a>
                }
            </div>
        </div>
    </div>
</nav>