
<div class="container mt-4">
  <div class="row">
    <div class="col-8 offset-2">
      
      <h3>Editar Nota {{ id }}</h3>

      @if (strResult) {
        <div class="alert alert-info my-3">{{ strResult }}</div>
      }

      <form [formGroup]="oForm" (ngSubmit)="onSubmit()">

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="id" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Título</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="titulo" 
                   [class.is-invalid]="oForm.get('titulo')?.invalid && oForm.get('titulo')?.touched">
            
            @if (oForm.get('titulo')?.hasError('required') && oForm.get('titulo')?.touched) {
               <div class="text-danger small">El título es obligatorio.</div>
            }
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Contenido</label>
          <div class="col-sm-10">
            <textarea class="form-control" formControlName="contenido" rows="5"
             [class.is-invalid]="oForm.get('contenido')?.invalid && oForm.get('contenido')?.touched"></textarea>
             
             @if (oForm.get('contenido')?.hasError('required') && oForm.get('contenido')?.touched) {
               <div class="text-danger small">El contenido es obligatorio.</div>
            }
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Estado</label>
          <div class="col-sm-10">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" formControlName="publicado" id="checkPub">
              <label class="form-check-label" for="checkPub">Publicado</label>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button type="button" class="btn btn-secondary" [routerLink]="['/pallas/plist']">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!oForm.valid">Guardar Cambios</button>
        </div>

      </form>
    </div>
  </div>
</div>