<div class="container m-5 post-view">
  <article class="post-card p-5 border rounded shadow-sm">
    <header class="post-header my-5">
      <h1 class="post-title">{{ oSalinasReceta?.nombre }}</h1>
    </header>
     <div class="post-meta text-muted small">
        <span class="tags"><i class="bi bi-tags"></i> {{ oSalinasReceta?.ingredientes }}</span>
      </div>
    <section class="post-content my-5">
      <!-- icono de comillas -->
      <i class="bi bi-quote"></i>
      <p [innerHTML]="oSalinasReceta?.preparacion"></p>
    </section>

    <footer class="post-footer my-5 d-flex justify-content-between align-items-center">
      <div class="post-meta text-muted small">
        <span class="me-3">
          <i class="bi bi-calendar3"></i>
          Publicado el
          {{ oSalinasReceta?.fechaCreacion | datetime : 'solofechacompleta' }} a las
          {{ oSalinasReceta?.fechaCreacion | datetime : 'solohora' }}
        </span>
        @if (oSalinasReceta?.fechaModificacion) {
        <span class="me-3">
          <i class="bi bi-clock"></i>
          Modificado el 
          {{ oSalinasReceta?.fechaModificacion | datetime : 'solofechacompleta' }} a las
          {{ oSalinasReceta?.fechaModificacion | datetime : 'solohora' }}
        </span>
        }
      </div>
    </footer>
  </article>
</div>
